
body {
  margin: 0;
}


nav {
  background-color: rgb(225, 233, 233);
  display: flex;
  height: 7vh;
}

nav .nav-left {
  /* background-color: blueviolet; */
  display: flex;
  padding-left: 100px;
  flex: 50%;
  align-items: center;
}


nav .nav-left li {
  display: inline;
}

nav .nav-left ul li a {
  text-decoration: none;
  color: black;
  padding: 12px;
}


nav .nav-right {
  /* background-color: brown; */
  display: flex;
  justify-content: flex-end; /* horizontal */
  align-items: center; /* vertical */
  flex: 50%;
  padding-right: 100px;
}

nav .nav-right a {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
  text-decoration: none;
}
body {
    margin: 0px;
    background-color: whitesmoke;
  }
  
  /* Container */
  .container {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container section {
    box-shadow: 5px 5px 5px whitesmoke;
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 85%;
  }
  section .section-left {
    padding: 70px;
    flex: 60%;
  }
  section .section-right {
    padding: 40px;
    flex: 40%;
  }
  /* Container */
  
  /* /* Button
  .button-contact {
    margin-top: 40px;
  }
  .button {
    margin-right: 20px;
    background-color: black;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 30px;
    text-align: center;
    font-size: 12px;
  }
  .button-group {
    margin-top: 40px;
  }
  .button-item-group {
    background-color: black;
    margin-left: 12px;
    border-radius: 25px;
    color: white;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  /* Button */
   */
  .card-image {
    padding-bottom: 10px;
    text-align: center;
    width:  80%;
    box-shadow: 0px 3px 12px whitesmoke;
  }
  .image {
    border-radius: 5px; */
  }
  